---
const specs = {
    "Microcontroller":  "ESP32-S3(FN8) running at 240Mhz",
    "GPS":  "Quectel LC86G",
    "Storage": "MicroSD Card reader, FAT32 up to 32G",
    "USB": "USB Type C, charging rate up to 800mA",
    "Barometric Pressure": "TE Connectivity MS5611-01BA03",
    "Temperature": "AHT20 Temperature and Humidity Sensor",
    "Speaker": "Cy-SMD-9019 Piezo with PAM8904 Driver",
    "Battery": "2000mAh LP103454",
    "IMU": "9Dof ICM-20948",
    "Display": "Green Reflective Monochrome FSTN+ LCD @ 192x96 pixels",
    "Access & Modification: Several GPIO pins available on PCB edge header",
    "Open Source: 100% Open Source Hardware and Software",
    "Parts: Easily replacable screen, battery, and case",
};
---

<main>
<div class="bg-black text-white pb-16 pl-8">
    <div class="max-w-5xl m-auto">
        <h2>Product Specs</h2>
        <ul class="text-base">
            {Object.entries(specs).map(([type, desc]) => (<li class="mb-1"><span class="font-bold">{type}: </span><i>{desc}</i></li>))
        </ul>
    </div>
</div>
</main>